{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Muni list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Representante</th>
                <th>Observaciones</th>
                <th>Fax</th>
                <th>Foto</th>
                <th>Ubicacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('muni_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.representante }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.foto }}</td>
                <td>{{ entity.ubicacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('muni_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('muni_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('muni_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
